<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exemple Thymeleaf</title>
</head>
<body>
    <div th:text=${val}> texte statique</div>
    <h4>Accès à un objet</h4>
    <div th:text="${personne.prenom}">prenom</div>
    <div th:text="${personne.nom}">nom</div>
    <div th:text="${personne['prenom']}">prenom</div>
    <div th:text="${personne['nom']}">nom</div>
    <div th:text="${personne.prenom} + '  ' + ${personne.nom}">personne</div>
    <div th:text="| prénom=${personne.prenom} nom=${personne.nom} ${val}|">personne</div>
    <h4>Accès à un tableau</h4>
    <div th:text="${t[1]}">deuxieme element du tableau</div>
    <h4>Accès à une map</h4>
    <div th:text="${ages['john']}">age</div>
    <div th:text="${ages.jane}">age</div>
    <h4>Liens avec paramètres (URL)</h4>
    <div><a th:href="@{/exemple/testmodel}">exemple test model</a></div>
    <div><a th:href="@{/exemple/testparam(id=${val})}">exemple de paramètre de requête</a></div>
    <div><a th:href="@{/exemple/testpath/{v1}(v1=${val})}">exemple de paramètre de chemin</a></div>
    <div><a th:href="@{/exemple/testpathmulti/{pa}/{na}(pa=${personne.prenom},na=${personne.nom})}">exemple de paramètres de chemin multiple</a></div>

</body>
</html>